<div class="container">
  <mat-card
    class="login-form-container auth-form-container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-around center"
    fxLayoutGap="16px"
  >
    <div class="logo-containers">
      <figure class="ns-logo-container">
        <img src="assets/ns-logo.png" alt="NS Award Logo" />
      </figure>
      <figure class="shivam-logo-container">
        <img src="assets/logo.png" alt="Shivam Logo Main" />
      </figure>
    </div>

    <form>
      <div class="helper-text">Fields marked with * are mandatory.</div>
      <mat-form-field>
        <mat-label>Email *</mat-label>
        <mat-icon aria-hidden="false" aria-label="User Icon">
          account_circle
        </mat-icon>
        <input matInput type="text" placeholder="johndoe@gmail.com" />
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
      <button mat-button type="submit" color="primary" class="theme-primary">
        Send email
      </button>
      <a class="text-link">Login</a>
    </form>
  </mat-card>
</div>
