<div class="page-title">
  <h2 class="page-title-content">{{ "edit_profile_label" | translate }}</h2>
</div>
<div class="container-fluid">
  <mat-card class="user-profile-form form-container">
    <mat-card-content>
      <form [formGroup]="profileForm">
        <div
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutGap="16px"
          fxLayoutAlign="start center"
        >
          <label fxFlex="1 1 40%">{{ "username_label" | translate }}*</label>
          <mat-form-field appearance="fill" fxFlex="1 1 60%">
            <input matInput type="text" formControlName="username" />
          </mat-form-field>
        </div>
        <ng-container formGroupName="details">
          <div
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="16px"
            fxLayoutAlign="start center"
          >
            <label fxFlex="1 1 40%"
              >{{ "first_name_label" | translate }}*</label
            >
            <mat-form-field appearance="fill" fxFlex="1 1 60%">
              <input matInput type="text" formControlName="first_name" />
              <mat-error>
                <app-error-message
                  [control]="profileForm.get('details').get('first_name')"
                ></app-error-message>
              </mat-error>
            </mat-form-field>
          </div>

          <div
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="16px"
            fxLayoutAlign="start center"
          >
            <label fxFlex="1 1 40%">{{ "last_name_label" | translate }}*</label>
            <mat-form-field appearance="fill" fxFlex="1 1 60%">
              <input matInput type="text" formControlName="last_name" />
              <mat-error>
                <app-error-message
                  [control]="profileForm.get('details').get('last_name')"
                ></app-error-message>
              </mat-error>
            </mat-form-field>
          </div>

          <div
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutGap="16px"
            fxLayoutAlign="start center"
          >
            <label fxFlex="1 1 40%">{{ "email_label" | translate }}*</label>
            <mat-form-field appearance="fill" fxFlex="1 1 60%">
              <input matInput type="text" formControlName="email" />
              <mat-error>
                <app-error-message
                  [control]="profileForm.get('details').get('email')"
                ></app-error-message>
              </mat-error>
            </mat-form-field>
          </div>
        </ng-container>

        <div
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutGap="16px"
          fxLayoutAlign="start center"
        >
          <label fxFlex="1 1 40%">{{ "mobile_label" | translate }}</label>
          <mat-form-field appearance="fill" fxFlex="1 1 60%">
            <input matInput type="text" formControlName="mobile_number" />
            <mat-error>
              <app-error-message
                [control]="profileForm.get('mobile_number')"
              ></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-card-actions>
          <button
            mat-raised-button
            color="warn"
            class="theme-alternate"
            (click)="updateProfile()"
          >
            <mat-icon
              ><app-material-icon [iconName]="'SAVE'"></app-material-icon
            ></mat-icon>
            {{ "update_label" | translate }}
          </button>

          <button
            mat-raised-button
            color="warn"
            class="theme-gray"
            (click)="onCancel()"
          >
            <mat-icon
              ><app-material-icon [iconName]="'BLOCK'"></app-material-icon
            ></mat-icon>
            {{ "cancel_label" | translate }}
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
