<div
  class="page-title"
  fxLayout="row"
  fxLayoutGap="16px"
  fxLayoutAlign="space-between center"
>
  <h2 class="page-title-content">
    {{ getHeaderTitle() }}
  </h2>
</div>

<div class="container-fluid">
  <mat-card class="detail-component" [class]="detailOptions?.formClass">
    <button
      mat-icon-button
      class="theme-icon-alternate is-edit"
      (click)="onEditClick()"
    >
      <mat-icon>
        <app-material-icon [iconName]="'EDIT'"></app-material-icon>
      </mat-icon>
    </button>
    <mat-card-content>
      <ng-content></ng-content>

      <a class="text-link link-back-list" (click)="onBackClick()">
        <mat-icon>
          <app-material-icon [iconName]="'BACK_ARROW'"></app-material-icon>
        </mat-icon>
        <span>{{ "back_to_list_label" | translate }}</span>
      </a>
    </mat-card-content>
  </mat-card>
</div>
