<div class="container-fluid">
  <div class="table-wrapper">
    <mat-card class="records-table-products records-table">
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="start"
        class="records-filter section-header fxFlex fxFlexWrap"
      >
        <div class="search-filter fxFlex--item">
          <app-search-input (searched)="onSearch($event)"></app-search-input>
        </div>

        <div class="has-button fxFlex--item" *ngIf="listLength > 0">
          <app-download
            *appHasAccess="hasDownloadAccess"
            [downloadOptions]="downloadOptions"
            [parameters]="parameters"
          ></app-download>
        </div>
      </div>

      <ng-container *ngIf="listLength === 0">
        <div class="no-results">
          <p>{{ "result_not_found_label" | translate }}</p>
        </div>
      </ng-container>

      <table mat-table [dataSource]="dataSource" *ngIf="listLength > 0">
        <ng-container matColumnDef="location_area">
          <th mat-header-cell *matHeaderCellDef>
            {{ "location_area_label" | translate }}
          </th>
          <td mat-cell *matCellDef="let delivery_location">
            {{ delivery_location.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>
            {{ "state_label" | translate }}
          </th>
          <td mat-cell *matCellDef="let delivery_location">
            {{ delivery_location.province?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="district">
          <th mat-header-cell *matHeaderCellDef>
            {{ "district_label" | translate }}
          </th>
          <td mat-cell *matCellDef="let delivery_location">
            {{ delivery_location.district?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="delivery_charges">
          <th mat-header-cell *matHeaderCellDef>
            {{ "delivery_charge_label" | translate }}
          </th>
          <td mat-cell *matCellDef="let delivery_location">
            {{ delivery_location.delivery_charge | currency: "Rs. ":"symbol" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>
            {{ "actions_label" | translate }}
          </th>
          <td mat-cell *matCellDef="let delivery_location">
            <app-actions
              [actions]="actions"
              (actionClicked)="onActionClick($event, delivery_location.id)"
            ></app-actions>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [length]="listLength"
        [pageSize]="perPage"
        [pageSizeOptions]="getDefaultPageSizeOptions()"
      >
      </mat-paginator>
    </mat-card>
  </div>
</div>
