<div
  class="page-title"
  fxLayout="row"
  fxLayoutGap="16px"
  fxLayoutAlign="space-between center"
>
  <h2 class="page-title-content">
    {{ getHeaderTitle() }}
  </h2>
</div>

<div class="container-fluid">
  <mat-card class="form-container" [class]="formOptions?.formClass">
    <mat-card-content>
      <form>
        <ng-content></ng-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="warn"
            class="theme-alternate"
            (click)="onSave()"
            *ngIf="getSaveBtnLabel()"
          >
            <mat-icon
              ><app-material-icon [iconName]="'SAVE'"></app-material-icon
            ></mat-icon>
            {{ getSaveBtnLabel() }}
          </button>

          <button
            mat-raised-button
            color="warn"
            class="theme-gray"
            (click)="onCancel()"
            *ngIf="getCancelBtnLabel()"
          >
            <mat-icon
              ><app-material-icon [iconName]="'BLOCK'"></app-material-icon
            ></mat-icon>
            {{ getCancelBtnLabel() }}
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
