<app-form
  [formOptions]="formOptions"
  (save)="onUpdatePassword()"
  (cancel)="onCancelPasswordForm()"
  [formGroup]="passwordForm"
  class="password-form"
>
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap="16px"
    fxLayoutAlign="start center"
    fxLayoutAlign.lt-md="start"
    class="pwd-field"
  >
    <label fxFlex="1 1 30%" fxFlex.lt-md="1 1 100%">
      {{ "old_password" | translate }}
    </label>

    <mat-form-field appearance="fill" fxFlex="1 1 70%" fxFlex.lt-md="1 1 100%">
      <span class="password-input-field">
        <input
          matInput
          type="text"
          formControlName="old_password"
          appPassword
        />
      </span>
      <mat-error>
        <app-error-message
          [control]="passwordForm.get('old_password')"
        ></app-error-message>
      </mat-error>
    </mat-form-field>
  </div>

  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap="16px"
    fxLayoutAlign="start center"
    fxLayoutAlign.lt-md="start"
    class="pwd-field"
  >
    <label fxFlex="1 1 30%" fxFlex.lt-md="1 1 100%">
      {{ "new_password" | translate }}
    </label>

    <mat-form-field appearance="fill" fxFlex="1 1 70%" fxFlex.lt-md="1 1 100%">
      <span class="password-input-field">
        <input
          matInput
          type="text"
          formControlName="new_password"
          appPassword
        />
      </span>
      <mat-error>
        <app-error-message
          [control]="passwordForm.get('new_password')"
        ></app-error-message>
      </mat-error>
    </mat-form-field>
  </div>

  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap="16px"
    fxLayoutAlign="start center"
    fxLayoutAlign.lt-md="start"
    class="pwd-field"
  >
    <label fxFlex="1 1 30%" fxFlex.lt-md="1 1 100%">
      {{ "confirm_password" | translate }}
    </label>

    <mat-form-field appearance="fill" fxFlex="1 1 70%" fxFlex.lt-md="1 1 100%">
      <span class="password-input-field">
        <input
          matInput
          type="text"
          formControlName="password_confirmation"
          appPassword
        />
      </span>
      <mat-error>
        <app-error-message
          [control]="passwordForm.get('password_confirmation')"
        ></app-error-message>
      </mat-error>
    </mat-form-field>
  </div>
  <mat-error
    *ngIf="passwordForm.errors?.compare_password"
    class="compare-error pwd-compare"
  >
    {{ "passwords_match" | translate }}
  </mat-error>
</app-form>
